@use './../utilities/variables' as *;
@use './../utilities/mixins' as *;

.movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  row-gap: 20px;

  @include tablet-bg {
    justify-content: flex-start;
    column-gap: 32px;
    row-gap: 32px;
  }

  @include desktop {
    column-gap: 16px;
  }
}

.movie-item {
  max-width: 100%;
  height: auto;

  @include tablet-bg {
    width: 336px;
  }

  @include desktop {
    width: calc((1216 - 32) / 3);
  }
}

.movie-link {
  position: relative;
}

.movie-link {
  &:hover .movie-image,
  &:focus .movie-image {
    box-shadow: 0px 0px 28px 3px $color-accent-orange;
    outline: none;
  }
}

.movie-image {
  display: block;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: box-shadow $animate-transition;

  @include tablet-bg {
    height: 455px;
    width: 100%;
  }

  @include desktop {
    height: 574px;
  }
}

.movie-status {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: $color-accent-orange;
  padding: 2px 4px;
  border-radius: 3px;
  color: white;

  &__hidden {
    visibility: hidden;
  }
}

.movie-info {
  margin-top: 10px;
  margin-bottom: 2px;
}

.movie-title,
.movie-description {
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;

  @include desktop {
    font-size: 20px;
  }
}

.movie-title {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.movie-description {
  color: $color-accent-orange;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.js-load-more {
  border: none;
  border-radius: 5px;
  background-color: $color-accent-orange;
  color: white;
  padding: 12px 20px;
  display: flex;
  margin: 40px auto 40px auto;
  align-items: center;
  font-family: $main-font;
  font-size: 16px;
  cursor: pointer;
  transition: $animate-transition;

  &:hover {
    background-color: $color-accent-red;
  }
}
